<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="../About.html">About</a></li>
	        		<li><a href="/cv">Resume</a></li>
	        		<li><a href="/blog">Courses</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:rahulj2409@berkeley.edu">email</a></li>
	        		<li><a href ='www.linkedin.com/in/rahul-jain1426'>linkedin</li>
				</ul>
			</footer>
		</body>
	</html>
